/*================ RESET ===============*/

html body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*================ SuperInfo ===============*/

.superinfo-bg{
    background-color: #122AB2;
}

.superinfo{
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    flex-wrap: wrap;
    font-family: 'Nunito', sans-serif;
}

.superinfo > a, p{
    color: white;
    margin: 0px 10px 10px 10px ;
}

/*================ MENU ================*/



.menu{
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    padding: 15px 0;
    background: #2C70FF;
    font-family: 'Nunito', sans-serif;
    padding: 15px calc((100% - 100%)/2);
    transition-duration: .8s;
    position: fixed;

}

/*Classe adicionada ao realizar um scroll na página*/
.scroll-menu{
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    padding: 15px 0;
    background: #122AB2;
    font-family: 'Nunito', sans-serif;
    padding: 15px calc((100% - 100%)/2);
    position: fixed;
    opacity: 90%;
    margin-top: -3.9%;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
}

.div-falsa{
    max-width: 100%;
    min-width: 100%;
    background-color: #fff;
    padding: 15px calc((100% - 100%)/2);
    padding: 48px 0;
    opacity: 100%;
}

.menu-logo a{
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin-left: 10px;
}

/*Animação do logo*/
@keyframes moverLogo{
    15%{
        transform: translateX(5px);
    }

    30%{
        transform: translateX(-5px);
    }

    50%{
        transform: translateX(3px);
    }

    65%{
        transform: translateX(-3px);
    }

    80%{
        transform: translateX(2px);
    }

    100%{
        transform: translateX(-2px);
    }
}


.menu-logo:hover{
    animation-name: moverLogo;
    animation-delay: 0.1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

/* Efeito de hover: Background de expansão da esquerda para direita */

.menu-nav li{
    font-size: 1.25em; 
    position: relative;
}

.menu-nav li::before{
    content: '';
    height: 100%;
    width:0;
    position: absolute;
}

.menu-nav li:hover::before{
    width: 100%;
    transition: all 1s ease;
    background-color: #fff;
    opacity: 50%;
}

/*======== Termina aqui ========*/

.menu-nav a{
    color: white;
    padding: 5px 15px;
}


/*====== INTRODUÇÃO ========*/

.introducao{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px 60px 10px;
    font-size: 3em;
    line-height: 1;
}

@media (max-width: 600px){
    .introducao{
        font-size: 2.5em;
    }
}

@media (max-width: 400px){
    .introducao{
        font-size: 2em;
    }
}

/*========== Sobre ===========*/

.sobre{
    max-width: 960px;
    margin: 0 auto;
    border-top: 4px solid #2C70FF;
    border-bottom: 4px solid #2C70FF;
    padding: 60px 0;

    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p{
    color: #848484;
    margin-bottom: 1.5em;
    text-align: justify;
    font-size: 1.25em;
    line-height: 1.4;
}

@keyframes rotacionarImagens{
    15%{
        transform: rotateX(15deg);
    }

    30%{
        transform: rotateX(-15deg);
    }  
}

@keyframes zoomImagem{
    5%{
        transform: scale(1.02);
    }
}

.sobre-img{
    flex: 1 1 160px;
    margin: 0 10px;
    padding: 5px 0;
}

.sobre-imagem-1:hover{
    animation-name: rotacionarImagens;
    cursor: pointer;
    animation-duration: 2s;
    transition: 1s;
}

.sobre-imagem-2:hover{
    animation-name: zoomImagem;
    animation-duration: 1s;
    transition: all .5s ease;
    cursor: pointer;
}

@media(max-width: 600px){

    .sobre-img img{
        min-width: 100%;
    }

}

/*========= Produtos ==========*/

.produtos{
    max-width: 960px;
    margin: 60px auto;
    
}

.produtos h1{
    font-size: 3em;
    margin: 0 10px 60px 10px;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item img{
    max-width: 100%;
    display: block;
}

.produtos-item{
    flex: 1;
    min-width: 175px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
}

header h2{
    padding: 15px 10px;
    background-color:#F7F7F7;
    font-size: 2.5em;
}

.produtos-item main{
    position: relative; 
}


main > .sombra{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    opacity: 0;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

main > .sombra:hover{
    opacity: 70%;
    transition: 1s;
    background-color: #000;
}

main > .sombra p{

    text-align: center;
    margin: 10px 10px;
}

main > .sombra button{
    font-size: 1.5em;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: none;
    padding: 5px 37px;
    margin: 10px 10px;
}


.purple{
    border-top: 8px solid #6D326A;
}

.pink{
    border-top: 8px solid #F53D95;
}

.blue{
    border-top: 8px solid #0100BE;
}

/*========= Preços ==========*/

.preco{

    background-color: #F7F7F7;
    padding: 60px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.preco-item{
    text-align: center;
}


.preco-item header{
    background-color: #fff;
    padding: 5px 150px;
    text-align: center;
    cursor: pointer;
    position: relative;

    display: flex;
}

.preco-item header > p{
    color: #000;
    font-size: 1.8em;
    font-weight: bold;
 
}

.preco-item header > span{
    font-weight: bold;
    font-size: 2.2em;
}

.preco-item sup{
    font-size: 1rem;
}

.conteudo{
    background-color: #2C70FF;
    padding: 5px 50px;
}

.preco-teste > .preco-item:nth-child(1) > .conteudo{
    background-color: rgb(56, 66, 87);
    padding: 5px 50px;
}

.preco-teste > .preco-item:nth-child(2) > .conteudo{
    background-color: rgb(56, 66, 87);
    padding: 5px 50px;
}

.preco-teste > .preco-item:nth-child(3) > .conteudo{
    background-color: rgb(56, 66, 87);
    padding: 5px 50px;
}

.conteudo > ul{
    margin-top: 20px;
    line-height: 2.5;
    margin-bottom: 30px;
    padding: 0 100px;
    text-align: left;
    color: #fff;
}

.conteudo > li{
    font-style: italic;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.conteudo > button{
    padding: 10px 80px;
    background-color: #fff;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}


/*

.preco{
    background-color: #F7F7F7;
    padding: 60px;

    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.preco-item{
    border: 4px solid #fff;
    padding: 60px 90px;
    margin-right: 10px;
    text-align: center;
    min-width: 190px;
    margin-bottom: 10px;
}

.preco-item h2{
    font-size: 2.50em;
    color: #A4A4A4;
    margin: 20px 0;
    
}

.preco-item span{
    font-size: 2em;
    font-weight: bold;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 5px 0;
    margin: 50px;
}

.preco-item sup{
    font-size: 1rem;
}

.preco-item ul{
    margin-top: 20px;
    line-height: 2.5;
    margin-bottom: 30px;
}

.preco-item li{
    font-style: italic;
    color: #848484;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.preco-item li::after{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #2c70ff;
    display: block;
}

.preco-item a{
    padding: 10px 35%;
    border: 1px solid #2c70ff;
}

@media (max-width: 800px){

    .preco{
        padding: 40px;
    }


    .preco-item{
        padding: 40px 100px;
        margin-right: 5px;
        margin-left: 5px;
    }

}

@media (max-width: 430px){

    .preco{
        padding: 30px;
    }

    .preco-item{
        padding: 15px 90px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .preco-item h2{
        font-size: 2.50em;
        color: #A4A4A4;
        margin: 10px 0;
    }

    .preco-item a{
        padding: 5px 35%;
    }

    .preco-item ul{
        margin-top: 10px;
        line-height: 2.5;
        margin-bottom: 10px;
    }
}*/

/* =========== Qualidade ================*/

.qualidade{
    max-width: 960px;
    margin: 60px auto;

    display: flex;
    flex-wrap: wrap;
}

.qualidade-item{
    flex: 1 1;
    min-width: 300px;
}

.qualidade h2{
    padding: 30px 0;
    font-size: 2em;
    margin-left: 10px;
    color: #a4a4a4;
}

.qualidade-item p{
    color: #917C7C;
    text-align: justify;
    font-size: 1.2em;
    line-height: 2;
}

.qualidade-item h2::before{
    content: '';
    width: 8px;
    height: 30px;
    background-color: #2c70ff;
    display: inline-block;
    margin-right: 10px;
    align-items: center;
}

.qualidade-item:nth-of-type(3n+1) h2::before{
    background-color: #ae81ff;
}

.qualidade-item:nth-of-type(3n+2) h2::before{
    background-color: #f9265e;
}

.qualidade-item:nth-of-type(3n+3) h2::before{
    background-color: #66d9eb;
}

/* =========== Newsletter ================*/

.newsletter{
    background-color:#f7f7f7;
    padding: 60px calc((100% - 960px)/2);

    display: flex;
    flex-wrap: wrap;
}

.newsletter-info{
    flex: 1;
    min-width: 260px;
    margin: 0 10px;
}

.newsletter-info h1{
    font-size: 3em;
    color: #A4A4A4;
}

.newsletter-info p{
    color: #A4A4A4;
    max-width: 250px;
    font-style: italic;
    font-size: 1.25em;
}

.newsletter-form{
    display: flex;
    flex-wrap: wrap;
    flex: 2 1;
    align-self: center;
    min-width: 260px;
    margin: 0 10px
}

.newsletter-form input{
   flex: 3 1;
   min-width: 260px;
   padding: 10px;
   border: 1px solid #2c70ff;
   font-style: italic;
   font-family: 'Nunito', sans-serif;
   background: transparent;
}

.newsletter-form button{
    flex: 1 1;
    min-width: 200px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: #2c70ff;
    color: white;
    margin: 0;
    cursor: pointer;
    border:0px;
    padding: 15px 10px;
}

/*========= Footer ==========*/

.footer{
    display: flex;
    background-color:#2c70ff ;
    height: 200px;
    align-items: center;
}

.footer p{
    text-align: center;
    flex: 1;
    font-size: 2.25em;
    color: #122ab2;
}

